.page {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  background-color: #000000;
}


.title-cntr3 {
  position: absolute;
  top: 5vh;
  left: 2.5vh;
  text-align: left;
}
#title3 {
  font-family: "DM Sans";
  align-self:center ;
  font-size: 2.5rem;
  animation: fadeIn 0.5s ease-in-out forwards;
}

h1 {
  font-family: "DM Sans";
  font-weight: bold;
}

#sec2-h, #sec-h {
  font-family: "Poppins";
}

#input-field {
  z-index: 1;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hover-animate {
  transition: 0.3s ease, transform 0.2s ease, font-weight 0.2s ease;
}

.hover-animate:hover {
  transform: scale(1.05); /* Slight enlargement for hover effect */ /* Bold text for emphasis */
}

.hover-animate:active {
  transform: scale(0.98); /* Slight shrink effect on click for tactile feel */
}

.text-gray-800-important {
  color: rgb(31 41 55) !important; /* gray-800 */
}

.fixed {
  z-index: 1;
}

.fixed > h2,p,strong {
  font-family: 'DM Sans';
  z-index: 1;
}









